@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');


    .App {
        min-height: 100vh;
        display: flex;
   
        background: hsla(46, 73%, 75%, 1);

background: linear-gradient(90deg, hsla(46, 73%, 75%, 1) 0%, hsla(176, 73%, 88%, 1) 100%);

background: -moz-linear-gradient(90deg, hsla(46, 73%, 75%, 1) 0%, hsla(176, 73%, 88%, 1) 100%);

background: -webkit-linear-gradient(90deg, hsla(46, 73%, 75%, 1) 0%, hsla(176, 73%, 88%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#EED991", endColorstr="#CCF7F4", GradientType=1 );
        background-position: center;
        /* background-size: cover; */ 
      }
